.winter-background-overlay{
    background: #222222;
}

.winter-background{
    background-image: url("./images/Winter-Background.png")
}

.spring-background{
    background-image: url("./images/Spring-Background.png")
}

.summer-background{
    background-image: url("./images/Summer-Background.png")
}

.fall-background{
    background-image: url("./images/Fall-Background.png")
}